<div class="container">
  <div class="card" style="width: 40rem; left: 125px; top: 10px;">
    <div class="card-body">
      <h5 class="card-title">Registrar Empleado</h5>
      <div class="row mt-2">
        <div class="col-md-8 mx-auto">
          <form (ngSubmit)="crearEmpleado()" novalidate #f="ngForm">
            <div class="form-group">
              <label for="nombres">Nombres</label>
              <input type="text" class="form-control" id="nombres" name="nombres" [(ngModel)]="empleado.nombres"
                required />

              <label for="apellidos">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="empleado.apellidos"
                required />

              <label for="direccion">Direccion</label>
              <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="empleado.direccion"
                required />

              <label for="telefono">Telefono</label>
              <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="empleado.telefono"
                required />

              <label for="tipo_documento">Tipo Documento</label>
              <input type="text" class="form-control" id="tipo_documento" name="tipo_documento"
                [(ngModel)]="empleado.tipo_documento" required />


              <label for="numero_documento">Numero Documento</label>
              <input type="text" class="form-control" id="numero_documento" name="numero_documento"
                [(ngModel)]="empleado.numero_documento" required />

              <label for="cargo">Cargo</label>
              <input type="text" class="form-control" id="cargo" name="cargo" [(ngModel)]="empleado.cargo" required />


              <div class="form-group">
                <label for="local">Local</label>
                <select [(ngModel)]="empleado.local" name="local" class="form-select" aria-label="Default select example">
                  <option [ngValue]="undefined">---Seleccione Local---</option>
                  <option *ngFor="let loc of local" [ngValue]="loc">{{loc.nombre}}</option>
                </select>
            </div>

            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-outline-danger me-md-2 row mr-4" type="button" [routerLink]="['/empleados']"><i
                  class="fas fa-undo"></i> Cancelar</button>
              <button class="btn btn-outline-primary row mr-1" role="button"><i class="fas fa-plus-circle"></i>
                Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
