<div class="card">
  <div class="card-header">
    Lista de Empleados </div>
  <div class="card-body">
        <a class="nav-link" routerLink="/empleados/guardar"><i class="fas fa-plus-circle"></i> Nuevo Empleado</a>
   <br>

    <table class="table caption-top">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOMBRES</th>
          <th scope="col">APELLIDOS</th>
          <th scope="col">DIRECCION</th>
          <th scope="col">TELEFONO</th>
          <th scope="col">TIPO DOCUMENTO</th>
          <th scope="col">Nº DOCUMENTO</th>
          <th scope="col">CARGO</th>
          <th scope="col">LOCAL</th>
          <th scope="col" class="text-center">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleados of empleado">
          <td>{{empleados.idEmpleado}}</td>
          <td>{{empleados.nombres}}</td>
          <td>{{empleados.apellidos}}</td>
          <td>{{empleados.direccion}}</td>
          <td>{{empleados.telefono}}</td>
          <td>{{empleados.tipo_documento}}</td>
          <td>{{empleados.numero_documento}}</td>
          <td>{{empleados.cargo}}</td>
          <td>{{empleados.local.nombre}}</td>
          <td class="text-center">
            <button class="btn btn-outline-primary" routerLink="/empleados/detalle/{{empleados.idEmpleado}}" style="margin-left : 10px;"><i class="far fa-eye"></i> Ver</button>
            <button class="btn btn-outline-warning" routerLink="/empleados/editar/{{empleados.idEmpleado}}" style="margin-left : 10px;"><i class="far fa-edit"></i> Editar</button>
              <button class="btn btn-outline-danger" (click)="borrarEmpleado(empleados.idEmpleado)" style="margin-left : 10px;"><i class="far fa-trash-alt"></i> Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
