<div class="card">
  <div class="card-header">
    Lista de Pedidos </div>
  <div class="card-body">
        <a class="nav-link" routerLink="/pedidos/guardar"><i class="fas fa-plus-circle"></i> Nuevo Pedido</a>
   <br>
    <table class="table caption-top">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">DESCRIPCION</th>
          <th scope="col">FECHA</th>
          <th scope="col">CANTIDAD</th>
          <th scope="col">PRODUCTO</th>
          <th scope="col" class="text-center">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedidos of pedido">
          <td>{{pedidos.idPedido}}</td>
          <td>{{pedidos.descripcion}}</td>
          <td>{{pedidos.fecha}}</td>
          <td>{{pedidos.cantidad}}</td>
          <td>{{pedidos.producto.nombre}}</td>
          <td class="text-center">
            <button class="btn btn-outline-primary" routerLink="/pedidos/detalle/{{pedidos.idPedido}}" style="margin-left : 10px;"><i class="far fa-eye"></i> Ver</button>
            <button class="btn btn-outline-warning" routerLink="/pedidos/editar/{{pedidos.idPedido}}" style="margin-left : 10px;"><i class="far fa-edit"></i> Editar</button>
              <button class="btn btn-outline-danger" (click)="borrarPedido(pedidos.idPedido)" style="margin-left : 10px;"><i class="far fa-trash-alt"></i> Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
